/* --- Estilo da Página --- */

/* Estilo Geral */
header {
    padding: 5vw;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #302858;
    color: #E0C8F8;
}
header h1 {
    color: #E0C8F8;
}
main {
    padding: 5vw;
    display: block;
    color: #3C3C3C;
}
footer {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    text-align: center; 
    color: #E0C8F8;
    background-color: #302858;
}
p {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    padding-top: 1vw;
    padding-bottom: 1vw;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color:#302858;
}
h2 {
    color: #302858;
    font-size: 1.2rem;
    font-weight: bold;
}
h3 {
    font-weight: bold;
}
ul {
    padding-top: 1vw;
    padding-bottom: 1vw;
}
button {
    font-size: 1rem;
    background-color:#FFF;
    color:#302858;
    padding: 1vw;
    border: solid 2px;
    border-color: #302858;
    margin: 1vw;
}
a {
    text-decoration: none;
}

/* Estilo Específico - Base/Index */
/* Header */
#introducao {
    width: 45vw;
}
#avatar {
    width: 45vw;
}
#avatar img {
    width: 30vw;
    border-radius: 100%;
}

/* Main */
/* Portifólio */
#portifolio {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item-portifolio {
    margin: auto;
    margin-top: 0;
    text-align: center;
    padding: 1vw;
    width: 28vw;
    min-width: 300px;
}
.item-portifolio img {
    width: 100%;
    aspect-ratio: 1/0.6;
    object-fit: cover;
    object-position: top;
}

/* Footer */
#icons {
    padding-top: 1vw;
    margin: auto;
}
#icons img {
    right: 1rem;
    width: 1rem;
}
#icons a {
    font-size: 1rem;
    color: #E0C8F8  ;
    text-decoration: none;
}
#developed {
    font-size: 0.7rem;
}

/* Página Portifólio */
#banner-portifolio {
    width: 100%;
}
#banner-portifolio img {
    width: 100%;
    aspect-ratio: 1/0.3;
    object-fit: cover;
    object-position: top;
}

/* Carrossel de Imagem */

/* [data-component="slideshow"] .slide {
	display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
	display: block;
} */

/* 
#carrossel {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imagem-carrossel {
    margin: auto;
    text-align: center;
    padding: 1vw;
    width: 28vw;
    min-width: 300px;
}
.imagem-carrossel img {
    width: 100%;
    aspect-ratio: 1/0.6;
    object-fit: cover;
    object-position: top;
} */